* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
}

/* Header Area */

header {
  background: #333;
}

nav ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  color: white;
}

ul li a {
  margin: 15px;
  color: white;
  text-decoration: none;
  display: block;
}

/* Main area*/

section {
  padding: 35px;
}

h1 {
  margin-bottom: 35px;
}

p {
  padding: 5px;
}

img {
  max-width: 400px;
}

.contact {
  padding-top: 0;
}

/* Table */

table {
  border-collapse: collapse;
}

th {
  border-bottom: 3px solid white;
}

thead {
  font-weight: bolder;
  background-color: orange;
  color: white;
}

td,
th {
  text-align: left;
  width: 200px;
  border: 1px solid white;
  padding: 5px;
}

.odd {
  background-color: ivory;
}

.even {
  background-color: pink;
}
